<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proxy Network Configuration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ css_url }}">
    <script src="{{ js_url }}"></script>
</head>
<body>
    <div class="page-header">
        <h1 class="text-center">Настройка сети</h1>
    </div>

    <div class="row nodes">
        <div class="col-md-10 col-md-push-1">
            <div class="table_header">
                <span>Узлы сети:</span>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#node_creation_dialog">Создать</button>
            </div>
            <table class="table table-hover nodes__table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Адрес</th>
                        <th>Порт роутинга</th>
                        <th>Порт управления</th>
                        <th>Родители</th>
                        <th>Потомки</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for node in nodes %}
                    <tr data-id="{{ node.id }}">
                        <td>{{ node.id }}</td>
                        <td>{{ node.name }}</td>
                        <td>{{ node.address }}</td>
                        <td>{{ node.routing_port }}</td>
                        <td>{{ node.config_port }}</td>
                        <td>
                            {% for parent in node.parents %}
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                                    {{ parent.id }}
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="nodes__table__delete_parent" data-id="{{ parent.id }}">delete</a></li>
                                </ul>
                            </div>
                            {% endfor %}

                            {% if not node.id == 1 %}
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                        add <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for n in nodes %}
                                        {% if n != node and n not in node.children and n not in node.parents %}
                                            <li><a href="#" class="nodes__table__add_parent" data-id="{{ n.id }}">{{ n.id }} ({{  n.name }})</a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {% for child in node.children %}
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                                    {{ child.id }}
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="nodes__table__delete_child" data-id="{{ child.id }}">delete</a></li>
                                </ul>
                            </div>
                            {% endfor %}

                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                    add <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for n in nodes %}
                                    {% if n != node and n not in node.children and n not in node.parents and n.id != 1 %}
                                        <li><a href="#" class="nodes__table__add_child" data-id="{{ n.id }}">{{ n.id }} ({{  n.name }})</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs btn-default nodes__table__update">Обновить</button>
                        </td>
                        <td>
                            {% if not node.id == 1 %}
                                <button type="button" class="btn btn-xs btn-danger pull-right nodes__table__delete">Удалить</button>
                            {% endif %} 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="modal fade new_node" id="node_creation_dialog" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Создание узла</h4>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="nodeName">Name</label>
                    <input type="text" class="form-control new_node__name" id="nodeName">
                  </div>
                  
                  <div class="form-group">
                    <label for="nodeAddress">Address</label>
                    <input type="text" class="form-control new_node__address" id="nodeAddress">
                  </div>

                  <div class="form-group">
                    <label for="nodeRP">Routing port</label>
                    <input type="text" class="form-control new_node__routing_port" id="nodeRP">
                  </div>

                  <div class="form-group">
                    <label for="nodeCP">Configuration port</label>
                    <input type="text" class="form-control new_node__config_port" id="nodeCP">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary new_node__submit">Отправить</button>
              </div>
            </div>
          </div>
        </div>

    </div>

    <div class="row frontends">
        <div class="col-md-10 col-md-push-1">
            <div class="table_header">
                <span>Связанные адреса:</span>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#frontend_creation_dialog">Создать</button>
            </div>
            <table class="table table-hover frontends__table">
                <thead>
                    <tr>
                        <th>Путь фронтенда</th>
                        <th>Номер узла</th>
                        <th>Порт</th>
                        <th>Путь бэкенда</th>
                        <th>Пинг доступен</th>
                        <th>Открыт наружу</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for fnd in frontends %}
                    <tr data-id="{{ fnd.id }}">
                        <td>{{ fnd.routing_path }}</td>
                        <td>{{ fnd.node_id }}</td>
                        <td>{{ fnd.backend_port }}</td>
                        <td>{{ fnd.backend_path }}</td>
                        <td>
                            {% if fnd.check_ping %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if not fnd.is_private %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs btn-danger pull-right frontends__table__delete">Удалить</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="modal fade new_frontend" id="frontend_creation_dialog" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Создание фронтенда</h4>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="fndNode">Node</label>
                    <select id="fndNode" class="form-control new_frontend__node">
                      {% for node in nodes %}
                      {% if not node.id == 1 %}
                        <option value="{{ node.id }}">{{ node.id }} ({{ node.name }})</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="fndRP">Routing path</label>
                    <input type="text" class="form-control new_frontend__routing_path" id="fndRP">
                  </div>
                  
                  <div class="form-group">
                    <label for="fndBPath">Backend path</label>
                    <input type="text" class="form-control new_frontend__backend_path" id="fndBPath">
                  </div>
                  
                  <div class="form-group">
                    <label for="fndBPort">Backend port</label>
                    <input type="text" class="form-control new_frontend__backend_port" id="fndBPort">
                  </div>

                  <div class="checkbox">
                    <label>
                      <input class="new_frontend__check_ping" type="checkbox"> Check ping
                    </label>
                  </div>

                  <div class="checkbox">
                    <label>
                      <input class="new_frontend__is_private" type="checkbox"> Private
                    </label>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary new_frontend__submit">Отправить</button>
              </div>
            </div>
          </div>
        </div>

    </div>
</body>
</html>